.nopic{ background-image:url("../images/nopic.jpg.gif")/*tpa=http://www.dg-pf.com/images/nopic.jpg*/;}
/*product_style 2*/
#header{
width:1004px;
height:330px;
margin:0 auto;
}
.spe_product2{
width:100%;
height:auto;
margin:auto;
}
.spe_prodcut2_div div{
float:left;}
.spe_prodcut2_div{
float:left;
padding-top:10px;
padding-left:15px;
width:96%;
height:120px;

}
.spe_prodcut2_div_img img{
width:120px;
height:100px;
border:1px solid #CCCCCC;
}

.spe_prodcut2_div_detail{
margin-top:0px;
width:570px;
height:auto;
}

.spe_prodcut2_div_detail li{
width:95%;
line-height:22px;
margin:auto;
}


.spe_product{
float:left;
margin:auto;
margin-top:10px;
margin-left:25px;
display:inline;
width:150px;
}
.spe_product img{
width:140px;
height:155px;
border: 1px solid #CCCCCC;
}
.spe_productpic{
width:140px;
height:155px;
margin:auto;}

.spe_productname{
line-height:50px;
height:50px;
margin:auto;
width:140px;
text-align:center;}

.spe_product55{
float:left;
margin:auto;
margin-top:10px;
margin-left:40px;
display:inline;
width:175px;
height:100px;
}
.spe_product55 img{
width:200px;
height:80px;
border: 1px solid #CCCCCC;
}
.spe_productpic55{
width:200px;
height:80px;
margin:auto;}

.spe_productname55{
line-height:25px;
height:25px;
margin:auto;
width:200px;
text-align:center;}

#spe_productname44 li{
float:left;
width:86px;
}

.spe_productname33{
float:left;
line-height:24px;
height:24px;
width:86px;
padding-left:10px;
}

.spe_productname33 A {
	LINE-HEIGHT: 24px; PADDING-LEFT: 26px; DISPLAY: block; BACKGROUND: url("../gb/images/list2.gif")/*tpa=http://www.dg-pf.com/gb/images/list2.gif*//*tpa=http://www.dg-pf.com/gb/images/list2.gif*/ no-repeat left center; HEIGHT: 24px; CURSOR: pointer;
	
}
.spe_productname33 A:hover {
	BACKGROUND: url("../gb/images/list1.gif")/*tpa=http://www.dg-pf.com/gb/images/list1.gif*//*tpa=http://www.dg-pf.com/gb/images/list1.gif*/ no-repeat left center;

}
.spe_productname33 A:active {
	
	BACKGROUND: url("../gb/images/list1.gif")/*tpa=http://www.dg-pf.com/gb/images/list1.gif*//*tpa=http://www.dg-pf.com/gb/images/list1.gif*/ no-repeat left center;
}

.product_list{
width:1003px;
margin:auto;
}

.spe_product11{
float:left;
margin:auto;
margin-top:10px;
margin-left:4px;
display:inline;
width:170px;
position:relative;
}

.spe_product11 .site{width:69px;height:35px;position:absolute;right:17px;top:2px;background:url("../images/hotsale.gif")/*tpa=http://www.dg-pf.com/images/hotsale.gif*//*tpa=http://www.dg-pf.com/images/hotsale.gif*/;}
.spe_product11 .site img{width:55px;height:60px;border:none;}

.spe_product11 img{
width:140px;
height:105px;
border: 1px solid #CCCCCC;
}
.spe_productpic11{

width:140px;
height:105px;
margin:auto;}

.spe_productname11{
line-height:25px;
height:25px;
margin:auto;
width:140px;
text-align:center;}

.product_list11{
width:1003px;
margin:auto;
}

.spe_page{
margin:auto;
width:95%;
line-height:40px;
height:60px;
text-align:right;
clear:both;}

.product_detail{
width:98%;
margin:auto;
padding-top:10px;
}
.product_maximages{
margin-left:0px;
width:350px;

text-align:center;
}
.Parameters{
width:400px;


}

.Parameters li{
margin-top:5px;
height:25px;
line-height:25px;
font-size:12px;}
.Description{
width:100%;
margin:auto;
word-wrap:break-word;
word-break : break-all; 
clear:both;
}
.product_detail_color dd{
float:left;
margin-left:25px;}
.product_detail_color img{
width:65px;
border:1px solid #CCCCCC;
height:30px;}
.product_detail_color a:hover{
border:1px #009933 solid;}
/*end product_style 2*/
/*product_style3*/
.spe_product3{
float:left;
margin:auto;
margin-top:20px;
margin-left:14px;
display:inline;
width:350px;
}
.spe_product3 img{
width:150px;
height:180px;
}
.spe_productpic3{
width:150px;
height:180px;
margin:auto;}

/*product_style4*/
.spe_product4{
float:left;
margin:auto;
margin-top:15px;
margin-left:14px;
display:inline;
width:98%;
border-bottom:1px solid #CCCCCC;
}
.spe_product4 img{
width:150px;
height:180px;
}
.spe_productpic4{
width:150px;
height:180px;
margin:auto;}
/*product_style5*/
.spe_product5{
float:left;
margin:auto;
margin-top:20px;
margin-left:14px;
display:inline;
width:175px;
}
.spe_product5 img{
width:150px;
height:180px;
}
.spe_productpic5{
width:150px;
height:180px;
margin:auto;}


/*product_style6*/
.spe_product6{
float:left;
margin:auto;
margin-top:15px;
margin-left:14px;
display:inline;
width:98%;
border-bottom:1px solid #CCCCCC;
}
.spe_product6 img{
width:150px;
height:180px;
}
.spe_productpic6{
width:150px;
height:180px;
margin:auto;}

/*product_style7*/
.spe_product7{
float:left;
margin:auto;
margin-top:10px;
margin-left:14px;
display:inline;
width:100%;
}
.spe_product7_title{
border-bottom:1px solid #CCCCCC;font-weight:bold;
}



.spe_product7_cp{
float:left;
margin:auto;
margin-top:10px;
margin-left:14px;
display:inline;
width:170px;
}
.spe_product7_cp img{
width:150px;
height:180px;
}
.spe_productpic_cp{
width:150px;
height:180px;
margin:auto;}
/*二级下拉菜单*/
.spe_left_nav {
margin:0px;
padding:0px;
width:70%;
margin:auto;
}
.spe_left_nav ul {
	margin: 0px;
	padding: 0px;
}
.spe_left_nav li {
height:25px;
font-size:14px;
line-height:28px;
margin:auto;
text-indent:1em;
border-bottom:1px #CCCCCC dashed;
}
.spe_left_nav a {
	LINE-HEIGHT: 25px;  DISPLAY: block; BACKGROUND: url("../gb/images/leftbiao.jpg")/*tpa=http://www.dg-pf.com/gb/images/leftbiao.jpg*//*tpa=http://www.dg-pf.com/gb/images/leftbiao.jpg*/ no-repeat left center; HEIGHT: 25px; CURSOR: pointer;
}
.spe_left_nav a:hover {}

.spe_left_nav_two{}
.spe_left_navtwo li{}
.spe_left_nav_two a{
	background-image: url();
	background-repeat: no-repeat;
	display: block;
}

/*产品询盘*/
.spe_productInquiry{
float:left;
margin:auto;
margin-top:20px;
margin-left:14px;
display:inline;
width:175px;
height:255px;
}
.spe_productpicInquiry img{
width:150px;
height:180px;
}
.spe_productpicInquiry{
width:150px;
height:180px;
margin:auto;}

.spe_productnameInquiry{
line-height:50px;
height:50px;
margin:auto;
width:110px;
text-align:center;}